body{
background-color: #ffcce7;
}
.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #81b7d2;
    width: 102px;
    height: 90px;
    margin: 6px;
}
button:hover{
    background: #4d5198;
}

.calculator{ 
    border: 4px solid #d8d2d2ec;
    background-color:#daf2dc;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}
